body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}


/* global styling */

img {
  width: 100%;
}

h1 {
  margin-top: 0;
  margin-bottom: .0rem;
  font-size: 2.5rem;
  line-height: 2.8rem;
  font-weight: 400;
}

h2 {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 200;
}

h3 {
  font-size: 1.75rem;
  font-weight: 300;
}

.row {
  display: grid;
}

section {
  padding: 20px;
}

.btn {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px 20px;
  background: #699f9e;
  color: #fff;
  text-decoration: none;
}


/* navigation */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 20px;
}

.nav--logo {
  color: #fff;
  text-decoration: none;
}

.nav--button {
  background: none;
  border: 0;
  color: #fff;
  font-size: 20px;
}

.nav--ul {
  display: none;
}


/* spezific content-areas */

.intro {
  padding: 40px;
  text-align: center;
}

.intro--img {
  display: block;
  margin: 0 auto;
  width: 50%;
  border-radius: 50%;
}

.section__bg {
  background: #e9ecef;
}