body {
    margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background: #333;
  padding: 20px;
}

.nav--logo {
    color: #fff;
    text-decoration: none;
}

.nav--button {
    background: none;
    border: 0;
    color: #fff;
    font-size: 20px;

}

.nav--ul {
    display: none;
}
